@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@100;200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Lato;
}

nav {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    height: 8em;
    z-index: 3;
    transition: 0.2s ease-out;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#logo {
    position: absolute;
    left: 160px;
    top: 30px;
}

#logo h1 {
    float: right;
    font-size: 2rem;
    margin-top: 5px;
}

#main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 140px;
}

#main-nav li {
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    font-weight: 100;
    font-size: 1rem;
    padding-top: 40px;
    height: 8em;
    border-right: 1px solid #ededed;
}

#main-nav li:first-child {
    border-left: 1px solid #ededed;
}

#main-nav li a {
    color: black;
}

.nav-item:hover {
    background-color: #ee5057;
    color: white;
    cursor: pointer;
    transition: 0.4s ease-in;
}

#main-nav .nav-item a:hover {
    color: white;
}


.active {
    background-color: #ee5057;
    height: 8em;
}

/* home section */
#home {
    background-image: url(images/bg-img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 110px;
    padding-top: 13%;
    padding-bottom: 13%;
    background-position: center center;
}

.form-container {
    background-color: white;
    max-width: 800px;
    margin: auto;
    display: block;
}

.form-control {
    width: 235px;
    height: 40px;
    margin-left: 2px;
    padding-left: 1.5rem;
    margin-right: 0.2rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
}

.form-control2 {
    width: 177px;
    height: 40px;
    padding-left: 1.8rem;
    margin-right: 0.2rem;
    cursor: pointer;
}

#submit-btn {
    width: 175px;
    height: 40px;
    cursor: pointer;
    background-color: #ee5057;
    color: white;
    border: none;
    font-size: 0.7rem;
    font-weight: bold;
}

#submit-btn:hover {
    background-color: #dc3545;
}

.form-content {
    margin-top: -10px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 2rem 2rem;
}

#form-paragraph,
.card-paragraph,
.portfolio-paragraph,
.blog-paragraph {
    color: #868e96;
}

#form-question {
    color: #dc3545;
    cursor: pointer;
}

input:focus {
    outline-color: #ee5057;
}

#check-in,
#check-out {
    position: relative;
}

label {
    position: relative;
}

#destination-label:before {
    content: "";
    position: absolute;
    left: 3px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22px' height='22px' viewBox='0 0 24 24' version='1.1'%3E%3Cg id='Iconly/Bold/Location' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Location' transform='translate(3.500000, 2.000000)' fill='%23ee5057' fill-rule='nonzero'%3E%3Cpath d='M8.5299,-1.99535389e-05 C10.7899,0.01 12.9499,0.91 14.5299,2.49 C16.1199,4.08 17.0099,6.23 16.9999834,8.46 L16.9999834,8.46 L16.9999834,8.51 C16.9399,11.54 15.2399,14.33 13.1199,16.51 C11.9199,17.74 10.5899,18.83 9.1399,19.75 C8.7499,20.08 8.1799,20.08 7.7899,19.75 C5.6399,18.35 3.7399,16.59 2.1999,14.54 C0.8499,12.76 0.0799,10.62 -0.0001,8.39 C0.0199,3.74 3.8399,-0.01 8.5299,-1.99535389e-05 Z M8.5299,5.93 C7.0399,5.93 5.8399,7.12 5.8399,8.6 C5.8399,10.061 7.0199,11.24 8.4999,11.26 L8.4999,11.26 L8.5299,11.26 C9.2399,11.26 9.9199,10.99 10.4199,10.5 C10.9399,9.99 11.2309,9.311 11.2309,8.6 C11.2309,7.12 10.0199,5.93 8.5299,5.93 Z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;

}

#adult-label:before,
#children-label:before {
    content: "";
    position: absolute;
    left: 4px;
    top: 0;
    bottom: 0;
    width: 15px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16px' height='16px' viewBox='0 0 16 16' version='1.1'%3E%3C!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Eperson%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Icons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Rounded' transform='translate(-138.000000, -4102.000000)'%3E%3Cg id='Social' transform='translate(100.000000, 4044.000000)'%3E%3Cg id='-Round-/-Social-/-person' transform='translate(34.000000, 54.000000)'%3E%3Cg%3E%3Cpolygon id='Path' points='0 0 24 0 24 24 0 24'/%3E%3Cpath d='M12,12 C14.21,12 16,10.21 16,8 C16,5.79 14.21,4 12,4 C9.79,4 8,5.79 8,8 C8,10.21 9.79,12 12,12 Z M12,14 C9.33,14 4,15.34 4,18 L4,19 C4,19.55 4.45,20 5,20 L19,20 C19.55,20 20,19.55 20,19 L20,18 C20,15.34 14.67,14 12,14 Z' id='🔹-Icon-Color' fill='%23ee5057'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
}

#children-label:before {
    width: 11px;
    left: 10px;
}

#room-label:before {
    content: "";
    position: absolute;
    left: 4px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath fill='%23ee5057' d='M176 256c44.11 0 80-35.89 80-80s-35.89-80-80-80-80 35.89-80 80 35.89 80 80 80zm352-128H304c-8.84 0-16 7.16-16 16v144H64V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v352c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16v-48h512v48c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V240c0-61.86-50.14-112-112-112z'/%3E%3C/svg%3E") center / contain no-repeat;
}

#check-in-label:before,
#check-out-label:before {
    z-index: 2;
    content: "";
    position: absolute;
    left: 4px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='511.634px' height='511.634px' viewBox='0 0 511.634 511.634' style='enable-background:new 0 0 511.634 511.634;' xml:space='preserve' fill='%23ee5057'%3E%3Cg%3E%3Cpath d='M482.513,83.942c-7.225-7.233-15.797-10.85-25.694-10.85h-36.541v-27.41c0-12.56-4.477-23.315-13.422-32.261 C397.906,4.475,387.157,0,374.591,0h-18.268c-12.565,0-23.318,4.475-32.264,13.422c-8.949,8.945-13.422,19.701-13.422,32.261v27.41 h-109.63v-27.41c0-12.56-4.475-23.315-13.422-32.261C178.64,4.475,167.886,0,155.321,0H137.05 c-12.562,0-23.317,4.475-32.264,13.422c-8.945,8.945-13.421,19.701-13.421,32.261v27.41H54.823c-9.9,0-18.464,3.617-25.697,10.85 c-7.233,7.232-10.85,15.8-10.85,25.697v365.453c0,9.89,3.617,18.456,10.85,25.693c7.232,7.231,15.796,10.849,25.697,10.849h401.989 c9.897,0,18.47-3.617,25.694-10.849c7.234-7.234,10.852-15.804,10.852-25.693V109.639 C493.357,99.739,489.743,91.175,482.513,83.942z M137.047,475.088H54.823v-82.23h82.224V475.088z M137.047,374.59H54.823v-91.358 h82.224V374.59z M137.047,264.951H54.823v-82.223h82.224V264.951z M130.627,134.333c-1.809-1.809-2.712-3.946-2.712-6.423V45.686 c0-2.474,0.903-4.617,2.712-6.423c1.809-1.809,3.946-2.712,6.423-2.712h18.271c2.474,0,4.617,0.903,6.423,2.712 c1.809,1.807,2.714,3.949,2.714,6.423v82.224c0,2.478-0.909,4.615-2.714,6.423c-1.807,1.809-3.946,2.712-6.423,2.712H137.05 C134.576,137.046,132.436,136.142,130.627,134.333z M246.683,475.088h-91.365v-82.23h91.365V475.088z M246.683,374.59h-91.365 v-91.358h91.365V374.59z M246.683,264.951h-91.365v-82.223h91.365V264.951z M356.323,475.088h-91.364v-82.23h91.364V475.088z M356.323,374.59h-91.364v-91.358h91.364V374.59z M356.323,264.951h-91.364v-82.223h91.364V264.951z M349.896,134.333 c-1.807-1.809-2.707-3.946-2.707-6.423V45.686c0-2.474,0.9-4.617,2.707-6.423c1.808-1.809,3.949-2.712,6.427-2.712h18.268 c2.478,0,4.617,0.903,6.427,2.712c1.808,1.807,2.707,3.949,2.707,6.423v82.224c0,2.478-0.903,4.615-2.707,6.423 c-1.807,1.809-3.949,2.712-6.427,2.712h-18.268C353.846,137.046,351.697,136.142,349.896,134.333z M456.812,475.088h-82.228v-82.23 h82.228V475.088z M456.812,374.59h-82.228v-91.358h82.228V374.59z M456.812,264.951h-82.228v-82.223h82.228V264.951z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

/*subscription section*/
#subscription {
    background-color: #ee5057;
    text-align: center;
    color: white;
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
    padding-top: 2rem;
    padding-bottom: 5rem;
}


.subs-heading {
    font-size: 3.2rem;
    font-weight: 100;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.news-heading {
    font-family: Roboto Slab;
    font-size: 1.2rem;
    margin-bottom: 2.3rem;
}

#subs-btn {
    color: white;
    font-family: Roboto Slab;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 1rem;
    border: 1px solid white;
}

#subs-btn:hover {
    background-color: white;
    color: #ee5057;
    transition: 0.3s ease-in;

}

/*cards section*/
#cards {
    padding-top: 150px;
    padding-bottom: 150px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    text-align: center;
    margin-right: 3.5rem;
    margin-left: 3.5rem;
    cursor: pointer;
    padding: 1rem;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 3px 3px #909090;
    transition: 0.3s ease-in;

}

.card-heading {
    color: #ee5057;
    font-size: 1.3rem;
    font-weight: 900;
}

.card-paragraph {
    line-height: 1.8;
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.85rem;
}

.more-text {
    color: #ee5057;
    font-size: 0.85rem;
}

svg {
    width: 80px;
    margin-bottom: 10px;
    fill: #ee5057;
}

.st0 {
    fill: none;
    stroke: #ee5057;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

/*portfolio section*/
#portfolio {
    background-color: #F4F4F4;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

#third-content,
#fourth-content,
#fifth-content,
#sixth-content {
    display: none;
}

.portfolio-content {
    width: 315px;
    margin-right: 1rem;
    background-color: white;
}

.recommendations {
    margin-left: 20px;
    background-color: white;
    width: 315px;
}

.port-img {
    width: 315px;
}

.portfolio-heading {
    font-size: 1.3rem;
    padding: 1rem 1.2rem 0px 1.4rem;
}

.portfolio-paragraph {
    padding: 1rem 1.2rem 1rem 1.4rem;
    font-size: 0.8rem;
    line-height: 1.8;
}

.more-btn {
    background-color: #ee5057;
    color: white;
    font-weight: bold;
    width: 280px;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    height: 35px;
    margin-bottom: 1.5rem;
}

.more-btn:hover {
    background-color: #dc3545;
    transition: 0.2s ease-in;
}

.recommendation-heading {
    background-color: #ee5057;
    color: white;
    font-size: 0.9rem;
    padding: 1.3rem;
    margin-bottom: 1rem;
}

.recommend-paragraph {
    font-size: 0.77rem;
}

.heading-container {
    margin-bottom: 0.5rem;
}


.country-container {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    width: 285px;
    cursor: pointer;
}

.country-container:hover {
    background-color: #dbdbdb;
    transition: 0.2s ease-in;
    color: #ee5057;
}

.country-img {
    width: 80px;
    margin-right: 1.5rem;
}

.country-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 350px;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #c2c2c2;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.dot:hover {
    background-color: black;
    transition: opacity 0.2s ease;
}

/*video section*/
video {
    width: 100%;
    object-fit: cover;
    height: 500px;
}

/*blogs section*/
#blogs {
    background-image: url(images/bg-img-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, 100% 95%, 50% 100%, 0 95%);
    padding-top: 3rem;
    padding-bottom: 105px;
    vertical-align: middle;
}

.title-container {
    text-align: center;
    margin-bottom: 2rem;
}

#blog-country {
    font-size: 3.5rem;
}

#blog-country2 {
    font-size: 2rem;
    color: #ee5057;
}

.blogs-container {
    max-width: 720px;
    height: 680px;
    display: block;
    margin: 0 auto;
    box-shadow: 3px 3px 3px 3px #909090;
    padding: 1.5rem;
}

.blog-entries {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
}

.blog-info {
    margin-left: 1.5rem;
}

.blog-title {
    color: #ee5057;
    margin-bottom: 0.8rem;
}

.blog-title2 {
    margin-bottom: 0.8rem;
}

.blog-paragraph {
    font-size: 0.9rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

#more-blog {
    font-weight: bold;
}

#more-blog:hover {
    color: #dc3545;
}

/*contact section*/
#contact {
    background-image: url(images/bg-img-3.jpg);
    margin-top: -170px;
    padding-top: 19%;
    background-size: cover;
    background-position: center center;
    padding-bottom: 100px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.map {
    margin-right: 2rem;
}

.map-google {
    max-width: 100%;
    width: 600px;
    max-height: 100%;
    height: 400px;
}

.form-container2 {
    background-color: white;
    width: 400px;
    height: 400px;
}

form {
    padding: 2rem;
}

.contact-input {
    width: 340px;
    height: 40px;
    margin-bottom: 1rem;
    background-color: #F4F4F4;
    border: none;
    padding: 0.8rem;
    font-weight: 100;
}

#message {
    height: 120px;
    color: gray;
    font-weight: 100;
}

textarea:focus {
    outline-color: #ee5057;
}

#submit-contact {
    background-color: #ee5057;
    color: white;
    width: 350px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    cursor: pointer;
}

#submit-contact:hover {
    background-color: #dc3545;
    transition: 0.3s ease-in;
}

footer {
    background-color: #1f3646;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 100;
}


span {
    color: #ee5057;
}

/*larger tablets*/
@media (max-width: 1024px) {
    #logo {
        left: 50px;
    }
}

/*smaller tablets*/
@media (max-width: 768px) {
    #logo {
        left: 0px;
    }

    #main-nav {
        margin-right: 0px;
    }

    .form-container {
        margin-top: 80px;
        max-width: 730px;
    }

    .form-control {
        width: 200px;
    }

    .form-control2 {
        width: 200px;
        margin-right: 0.4rem;
    }

    #submit-btn {
        margin-top: 20px;
    }

    #form-question {
        margin-right: 65px;
    }

    .cards-container {
        display: grid;
        grid-template-columns: 250px 250px;
        grid-column-gap: 3.5rem;
        margin-left: -150px;
    }

    .portfolio-container {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-gap: 2rem;
        position: relative;
    }

    .country-container {
        width: 565px;
    }

    .recommendations {
        width: 600px;
        margin-top: 20px;

    }

    .dot-container {
        position: absolute;
        top: 550px;
        left: 320px;
    }

    .contact-container {
        margin-top: 100px;
    }

    .map {
        margin-right: 1.2rem;
    }

    .map-google,
    .form-container2 {
        width: 360px;
    }

    .contact-input,
    #submit-contact {
        width: 300px;
    }
}

/*mobile devices*/
@media (max-width: 540px) {

    #main-nav li {
        display: none;
    }

    nav {
        height: 6em;
    }

    #home {
        margin-top: 95px;
    }

    .form-container {
        margin-top: 8px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .form-control,
    .form-control2 {
        max-width: 100%;
        width: 440px;
        margin-bottom: 1rem;
    }

    #submit-btn {
        max-width: 100%;
        width: 380px;
    }

    .form-content {
        display: flex;
        flex-direction: column;
    }

    #form-question {
        margin-top: 10px;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: -60px;
        margin-bottom: -100px;
    }

    .card {
        margin-bottom: 50px;
    }

    .portfolio-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 10px;
    }

    .recommendations {
        margin-top: 50px;
        width: 330px;
        margin-right: 30px;
    }

    .country-container {
        width: 300px;
    }

    .dot-container {
        left: 130px;
        bottom: 120px;
    }

    .blog-img {
        margin-bottom: 10px;
    }

    .blogs-container {
        width: 350px;
        height: 1475px;
    }

    .blog-entries {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .map-google {
        max-width: 355px;
        margin-left: 20px;
        margin-bottom: 40px;
    }

    .contact-container {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 280px) {
    .blogs-container {
        margin-left: -40px;
    }
}
